<div class="ui-g">
    <div class="ui-g-12 ui-md-2">Menu</div>
    <div class="ui-g-12 ui-md-10 ui-g-nopad">
        <div class="ui-g-12">
            <div class="ui-toolbar-group-left">
              <app-fuente-captura-seleccion (iniciarCaptura)="fuenteSeleccionada=$event" ></app-fuente-captura-seleccion>
            </div>
            <div class="ui-toolbar-group-right">
                 <span class='badge badge-info'>10</span>
            </div> 
        </div>
        <div class="ui-g-12" >
            <app-panel-video [fuente]="fuenteSeleccionada" ></app-panel-video>
        </div>
    </div>
    <div class="ui-g-12">
        Footer
    </div>
</div>
